# PYTHON DATA SCIENCE TOOLBOX (PART 1)

Professor Hugo Bowne-Anderson

## Writing your own functions

### User-defined functions

You’ll learn:
- Define functions without parameters
- Define functions with one parameter
- Define functions that return a value
- Later: multiple arguments, multiple return values

In [ ]:
#Built-in functions
str()
x = str(5)
print(x)
print(type(x))

5
<class 'str'>

In [ ]:
#Defining a function
def square(): # <- Function header
  new_value = 4 ** 2 # <- Function body
  print(new_value)
square()

16

In [ ]:
#Function parameters (is inside its header)
def square(value): #parameter value
  new_value = value ** 2
  print(new_value)

square(4) #pass argument into the function - 4

square(5) #pass argument 5

16
25

In [ ]:
#Reurn values from functions
def square(value):
  new_value = value ** 2
  return new_value #return to assign the value to a new variable

num = square(4)

print(num)

16

Docstrings
- Docstrings describe what your function does
- Serve as documentation for your function
- Placed in the immediate line after the function header
- In between triple double quotes """

In [ ]:
def square(value):
  """Return the square of a value."""
  new_value = value ** 2
  return new_value

In [ ]:
#EXAMPLE 1

# Define the function shout
def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = "congratulations" + "!!!"

    # Print shout_word
    print(shout_word)

# Call shout
shout()

congratulations!!!

In [ ]:
#EXAMPLE 2

# Define shout with the parameter, word
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout with the string 'congratulations'
shout("congratulations")

In [ ]:
#EXAMPLE 3

# Define shout with the parameter, word
def shout(word):
    """Return a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + "!!!"

    # Replace print with return
    return(shout_word)

# Pass 'congratulations' to shout: yell
yell = shout("congratulations")

# Print yell
print (yell)

congratulations!!!

### Multiple parameters and return values

In [ ]:
#Multiple function parameters

#Accept more than 1 parameter:
def raise_to_power(value1, value2): #the order matters
  """Raise value1 to the power of value2."""
  new_value = value1 ** value2
  return new_value

#Call function: # of arguments = # of parameters
result = raise_to_power(2, 3)
print(result)

8

A quick jump into tuples
- Make functions return multiple values: Tuples!
- Tuples:
  - Like a list - can contain multiple values
  - Immutable - can’t modify values! (once it has been constructed)
  - Constructed using parentheses ()

In [ ]:
#Example
even_nums = (2, 4, 6)
print(type(even_nums))

#unpacking tuples
even_nums = (2, 4, 6)
a, b, c = even_nums
print (a)
print (b)
print (c)

<class 'tuple'>
2
4
6

In [ ]:
#Acessing tuple elements
even_nums = (2, 4, 6)
print(even_nums[1]) #like lists

second_num = even_nums[1]
print(second_num)

4
4

In [ ]:
def raise_both(value1, value2):
  """Raise value1 to the power of value2 and vice versa."""

  new_value1 = value1 ** value2
  new_value2 = value2 ** value1

  new_tuple = (new_value1, new_value2)

  return new_tuple

result = raise_both(2, 3)

print(result)

(8, 9)

In [ ]:
#FULL EXAMPLE 1

# Define shout with parameters word1 and word2
def shout(word1, word2):
    """Concatenate strings with three exclamation marks"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + "!!!"
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + "!!!"
    
    # Concatenate shout1 with shout2: new_shout
    new_shout = shout1 + shout2

    # Return new_shout
    return new_shout

# Pass 'congratulations' and 'you' to shout(): yell
yell = shout ("congratulations", "you")

# Print yell
print(yell)

congratulations!!!you!!!

In [ ]:
#FULL EXAMPLE 2

# Unpack nums into num1, num2, and num3
num1, num2, num3 = nums

# Construct even_nums
even_nums = (2, num2, num3)

In [ ]:
#FULL EXAMPLE 3

# Define shout_all with parameters word1 and word2
def shout_all(word1, word2):
    
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + "!!!"
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + "!!!"
    
    # Construct a tuple with shout1 and shout2: shout_words
    shout_words = (shout1,  shout2)

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all(): yell1, yell2
yell1, yell2 = shout_all("congratulations","you")

# Print yell1 and yell2
print(yell1)
print(yell2)

### Bringing it all together

You’ve learned:
- How to write functions
  - Accept multiple parameters
  - Return multiple values
- Up next: Functions for analyzing Twi

In [ ]:
#Basic ingredients of a function

#Function Header
def raise_both(value1, value2):
  
#Function body
  """Raise value1 to the power of value2 and vice versa."""
  new_value1 = value1 ** value2
  new_value2 = value2 ** value1
  new_tuple = (new_value1, new_value2)
  return new_tuple

In [ ]:
#FULL EXAMPLE 1 - count twitter column

# Import pandas
import pandas as pd

# Import Twitter data as DataFrame: df
df = pd.read_csv("tweets.csv")

# Initialize an empty dictionary: langs_count
langs_count = {}

# Extract column from DataFrame: col
col = df['lang']

# Iterate over lang column in DataFrame
for entry in col:

    # If the language is in langs_count, add 1 
    if entry in langs_count.keys():
        langs_count[entry] += 1
    # Else add the language to langs_count, set the value to 1
    else:
        langs_count[entry] = 1

# Print the populated dictionary
print(langs_count)

In [ ]:
#FULL EXAMPLE 2

# Define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry] = 1

    # Return the langs_count dictionary
    return langs_count

# Call count_entries(): result
result = count_entries (tweets_df,"lang")

# Print the result
print(result)

### Congratulations!

Next chapters:
- Functions with default arguments
- Functions that accept an arbitrary number of parameters
- Nested functions
- Error-handling within functions
- More function use in data science!

## Default arguments, variable-length arguments and scope

### Scope and user-defined functions

Crash course on scope in functions
- Not all objects are accessible everywhere in a script
- Scope - part of the program where an object or name may be
accessible (scope tells which parts can be accessed)
  - Global scope - defined in the main body of a script
  - Local scope - defined inside a function (can not access it outside the function)
  - Built-in scope - names in the pre-de,ned built-ins module

In [ ]:
#Global vs. local scope (1)

def square(value):
  """Returns the square of a number."""
  new_val = value ** 2
  return new_val #this variable will not be accessible

square(3)

new_val #was not defined gloally

NameError: ignored

In [ ]:
#Global vs. local scope (2)

new_val = 10

def square(value):
  """Returns the square of a number."""
  new_val = value ** 2
  return new_val

square(3) #gives 9

new_val #gives 10

10

In [ ]:
#Global vs. local scope (3)

new_val = 10

def square(value):
  """Returns the square of a number."""
  new_value2 = new_val ** 2 #new_val given previously
  return new_value2

square(3) #gives 100

new_val = 20

square(3) #gives 400

400

In [ ]:
#Global vs. local scope (4) - it helps creating the variable that will leave the function

new_val = 10

def square(value):
  """Returns the square of a number."""
  global new_val #access and alter
  new_val = new_val ** 2
  return new_val

square(3)

new_val

100

In [ ]:
#FULL EXAMPLE 1

# Create a string: team
team = "teen titans"

# Define change_team()
def change_team():
    """Change the value of the global variable team."""

    # Use team in global scope
    global team

    # Change the value of team in global: team
    team = "justice league"
# Print team
print(team)

# Call change_team()
change_team()

# Print team
print(team)

### Nested functions

Python will search inside inner function, and than outer

In [ ]:
# Nested functions 1
def outer( ... ):
  """ ... """
  x = ...

  def inner( ... ):
    """ ... """
    y = x ** 2
  return ...

In [ ]:
#Nested functions 2 - repeat a process

def mod2plus5(x1, x2, x3):
  """Returns the remainder plus 5 of three values."""

  new_x1 = x1 % 2 + 5
  new_x2 = x2 % 2 + 5
  new_x3 = x3 % 2 + 5

  return (new_x1, new_x2, new_x3)

In [ ]:
#Nested functions 3 - example of inner function

def mod2plus5(x1, x2, x3):
  """Returns the remainder plus 5 of three values."""
  
  def inner(x):
    """Returns the remainder plus 5 of a value."""
    return x % 2 + 5
  
  return (inner(x1), inner(x2), inner(x3))

print(mod2plus5(1, 2, 3))

(6, 5, 6)

In [ ]:
#Returning functions
def raise_val(n):
  """Return the inner function."""

  def inner(x):
    """Raise x to the power of n."""
    raised = x ** n
    return raised

  return inner #retuners the inner function

square = raise_val(2) #squares any number n=2

cube = raise_val(3) #cubes any number n=3

print(square(2), cube(4)) #we will not work with this "closure" too much

4 64

In [ ]:
#Using nonlocal
def outer():
  """Prints the value of n."""
  n = 1

  def inner():
    nonlocal n #close scope
    n = 2
    print(n)

  inner()

  print(n)

outer()

2
2

Scopes searched
- Local scope
- Enclosing functions
- Global
- Built-in

In [ ]:
#FULL EXAMPLE 1

# Define three_shouts
def three_shouts(word1, word2, word3):
    """Returns a tuple of strings
    concatenated with '!!!'."""

    # Define inner
    def inner(word):
        """Returns a string concatenated with '!!!'."""
        return word + '!!!'

    # Return a tuple of strings
    return (inner(word1), inner(word2), inner(word3))

# Call three_shouts() and print
print(three_shouts('a', 'b', 'c'))

('a!!!', 'b!!!', 'c!!!')

In [ ]:
#FULL EXAMPLE 2

# Define echo
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice = echo(3)

# Call twice() and thrice() then print
print(twice('hello'), thrice('hello'))

hellohello hellohellohello

In [ ]:
#FULL EXAMPLE 3

# Define echo_shout()
def echo_shout(word):
    """Change the value of a nonlocal variable"""
    
    # Concatenate word with itself: echo_word
    echo_word = word*2
    
    # Print echo_word
    print(echo_word) #não está com print
    
    # Define inner function shout()
    def shout():
        """Alter a variable in the enclosing scope"""    
        # Use echo_word in nonlocal scope
        nonlocal echo_word
        
        # Change echo_word to echo_word concatenated with '!!!'
        echo_word = echo_word + "!!!"
    
    # Call function shout()
    shout()
    
    # Print echo_word
    print(echo_word)

# Call function echo_shout() with argument 'hello'
echo_shout("hello")

hellohello
hellohello!!!

### Default and flexible arguments

You'll learn:
- Writing functions with default arguments (normally common values)
- Using flexible arguments
- Pass any number of arguments to a functions

In [ ]:
def power(number, pow=1):
  """Raise number to the power of pow."""
  new_value = number ** pow
  return new_value

print(power(9, 2))
print(power(9, 1))
print(power(9))

81
9
9

In [ ]:
#Flexible arguments: *args (1)

def add_all(*args): #pass all arguments into an args tuple
  """Sum all values in *args together."""
  
  # Initialize sum
  sum_all = 0

  # Accumulate the sum
  for num in args:
    sum_all += num    
  
  return sum_all

print(add_all(1))
print(add_all(1, 2))
print(add_all(5, 10, 15, 20))

1
3
50

In [ ]:
#Flexible arguments: **kwargs

def print_all(**kwargs):
  """Print out key-value pairs in **kwargs."""
  
  # Print out the key-value pairs
  for key, value in kwargs.items():
   print(key + ": " + value)

print_all(name="dumbledore", job="headmaster")
print_all(name="Hugo Bowne-Anderson", employer="DataCamp")

name: dumbledore
job: headmaster
name: Hugo Bowne-Anderson
employer: DataCamp

In [ ]:
#FULL EXAMPLE 1

# Define shout_echo
def shout_echo(word1, echo = 1):
    """Concatenate echo copies of word1 and three
     exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo() with "Hey": no_echo
no_echo = shout_echo("Hey")

# Call shout_echo() with "Hey" and echo=5: with_echo
with_echo = shout_echo("Hey", echo=5)

# Print no_echo and with_echo
print(no_echo)
print(with_echo)

Hey!!!
HeyHeyHeyHeyHey!!!

In [ ]:
#FULL EXAMPLE 2

# Define shout_echo
def shout_echo(word1, echo=1, intense=False):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Make echo_word uppercase if intense is True
    if intense is True:
        # Make uppercase and concatenate '!!!': echo_word_new
        echo_word_new = echo_word.upper() + '!!!'
    else:
        # Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'

    # Return echo_word_new
    return echo_word_new

# Call shout_echo() with "Hey", echo=5 and intense=True: with_big_echo
with_big_echo = shout_echo("Hey", echo=5, intense = True)

# Call shout_echo() with "Hey" and intense=True: big_no_echo
big_no_echo = shout_echo("Hey", intense = True)

# Print values
print(with_big_echo)
print(big_no_echo)

HEYHEYHEYHEYHEY!!!
HEY!!!

In [ ]:
#FULL EXAMPLE 3

# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge = str()

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge

# Call gibberish() with one string: one_word
one_word = gibberish("luke")

# Call gibberish() with five strings: many_words
many_words = gibberish("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

In [ ]:
#FULL EXAMPLE 4

# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge = str()

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge

# Call gibberish() with one string: one_word
one_word = gibberish("luke")

# Call gibberish() with five strings: many_words
many_words = gibberish("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

luke
lukeleiahanobidarth

In [ ]:
#FULL EXAMPLE 5

# Define report_status
def report_status(**kwargs):
    """Print out the status of a movie character."""

    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ": " + value)

    print("\nEND REPORT")

# First call to report_status()
report_status(name = "luke", affiliation = "jedi", status = "missing")

# Second call to report_status()
report_status(name="anakin", affiliation="sith lord", status="deceased")

BEGIN: REPORT

name: luke
affiliation: jedi
status: missing

END REPORT

BEGIN: REPORT

name: anakin
affiliation: sith lord
status: deceased

END REPORT

### Bringing it all together

Next exercises:
- Generalized functions:
  - Count occurrences for any column
  - Count occurrences for an arbitrary number of columns

In [ ]:
#FULL EXAMPLE 1

# Define count_entries()
def count_entries(df, col_name = "lang"):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1

        # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df)

# Call count_entries(): result2
result2 = count_entries(tweets_df,"source")

# Print result1 and result2
print(result1)
print(result2)

In [ ]:
#FULL EXAMPLE 2

# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df, "lang")

# Call count_entries(): result2
result2 = count_entries(tweets_df, "lang", "source")

# Print result1 and result2
print(result1)
print(result2)

## Lambda functions and error-handling

### Lambda functions

In [ ]:
#Lambda functions
raise_to_power = lambda x, y: x ** y #express what we wish the function to returns
raise_to_power(2, 3)

8

Anonymous functions
- Function map takes two arguments: map(func, seq)
- map() applies the function to ALL elements in the sequence
- Basically it gets a function and apply it to a list

In [ ]:
nums = [48, 6, 9, 21, 1]
square_all = map(lambda num: num ** 2, nums)

print(square_all) #map object

print(list(square_all))

<map object at 0x7f4d12f95450>
[2304, 36, 81, 441, 1]

In [ ]:
#FULL EXAMPLE 1

# Define echo_word as a lambda function: echo_word
echo_word = (lambda word1, echo: word1*echo)

# Call echo_word: result
result = echo_word("hey",5)

# Print result
print(result)

heyheyheyheyhey

In [ ]:
#FULL EXAMPLE 2

# Create a list of strings: spells
spells = ["protego", "accio", "expecto patronum", "legilimens"]

# Use map() to apply a lambda function over spells: shout_spells
shout_spells = map(lambda item: item+"!!!", spells)

# Convert shout_spells to a list: shout_spells_list
shout_spells_list = list(shout_spells)

# Print the result
print(shout_spells_list)

['protego!!!', 'accio!!!', 'expecto patronum!!!', 'legilimens!!!']

In [ ]:
#FULL EXAMPLE 3 - filter subsets the list according to the function

# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member: len(member)>6, fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

In [ ]:
#FULL EXAMPLE 4 reduce concatenates everything from a list

# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# Use reduce() to apply a lambda function over stark: result
result = reduce(lambda item1, item2: item1 + item2, stark)

# Print the result
print(result)

robbsansaaryabrandonrickon

### Introduction to error handling

In [ ]:
float(2)
float('2.3')
float('hello') #provides value error (there are several types)

ValueError: ignored

We should provide error massages for the functions we write

Errors and exceptions
- Exceptions - caught during execution
- Catch exceptions with try-except clause
  - Runs the code following try
  - If there’s an exception, run the code following except

In [ ]:
def sqrt(x):
  """Returns the square root of a number."""
  try:
    return x ** 0.5
  except:
    print('x must be an int or float')
sqrt(4)
sqrt ("hi")

x must be an int or float

In [ ]:
#Errors and exceptions
def sqrt(x):
  """Returns the square root of a number."""
  try:
    return x ** 0.5
  except TypeError:
    print('x must be an int or float')

![image.png]()

In [ ]:
#raise an error - make it not work according to some constraint

def sqrt(x):
  """Returns the square root of a number."""
  
  if x < 0:
    raise ValueError('x must be non-negative')
  
  try:
    return x ** 0.5
  
  except TypeError:
    print('x must be an int or float')

sqrt(-2)

ValueError: ignored

In [ ]:
#FULL EXAMPLE 1 - try-except
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = str()
    shout_words = str()

    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = word1*echo

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word+"!!!"
    except:
        # Print error message
        print("word1 must be a string and echo must be an integer.")

    # Return shout_words
    return shout_words

# Call shout_echo
shout_echo("particle", echo="accelerator")

word1 must be a string and echo must be an integer.

''

In [ ]:
#FULL EXAMPLE 2 - raise an error

# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if echo <0:
        raise ValueError("echo must be greater than or equal to 0")

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo
shout_echo("particle", echo=5)

### Bringing it all together

In [ ]:
#Errors and exceptions
def sqrt(x):
  try:
    return x ** 0.5
  except:
    print('x must be an int or float')

sqrt(4)
sqrt('hi')

In [ ]:
#Errors and exceptions
def sqrt(x):
  if x < 0:
    raise ValueError('x must be non-negative')
  try:
    return x ** 0.5
  except TypeError:
    print('x must be an int or float')

In [ ]:
#FULL EXAMPLE 1 
# Select retweets from the Twitter DataFrame: result
result = filter(lambda x: x[0:2]=="RT", tweets_df["text"])

# Create list from filter object result: res_list
res_list = list(result)

# Print all retweets in res_list
for tweet in res_list:
    print(tweet)

In [ ]:
#FULL EXAMPLE 2
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Add try block
    try:
        # Extract column from DataFrame: col
        col = df[col_name]
        
        # Iterate over the column in dataframe
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1
    
        # Return the cols_count dictionary
        return cols_count

    # Add except block
    except:
        print ('The DataFrame does not have a ' + col_name + ' column.')

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Print result1
print(result1)

In [ ]:
#FULL EXAMPLE 3

# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Raise a ValueError if col_name is NOT in DataFrame
    if col_name not in df.columns:
        raise ValueError ('The DataFrame does not have a ' + col_name + ' column.')

    # Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1
        
        # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(df = tweets_df,col_name = "lang")

# Print result1
print(result1)

### Congratulations

What you’ve learned:
- Write functions that accept single and multiple arguments
- Write functions that return one or many values
- Use default, flexible, and keyword arguments
- Global and local scope in functions
- Write lambda functions
- Handle errors

There’s more to learn!
- Create lists with list comprehensions
- Iterators - you’ve seen them before!
- Case studies to apply these techniques to Data Science

# PYTHON DATA SCIENCE TOOLBOX (PART 2)
Professor: Hugo Bowne-Anderson

## Using iterators in PythonLand

### Introduction to iterators

In [ ]:
#Iterating with a for loop

#list
employees = ['Nick', 'Lore', 'Hugo']
for employee in employees:
  print(employee)

#string
for letter in "DataCamp": 
  print(letter)

#range object
for i in range(4): 
  print(i)

Iterators vs. iterables
- Iterable
  - Examples: lists, strings, dictionaries, file connections
  - An object with an associated iter() method
  - Applying iter() to an iterable creates an iterator
- Iterator
  - Produces next value with next()

- In a nutshell, iterable is an object that can return an iterator, while an iterator is an object that keeps state and produces the next value when you call next()
- Iterable is just an object such as list, string etc. Iterator is an object class

In [ ]:
#Iterating over iterables: next()

word = 'Da'
it = iter(word)
next(it) #"D"

next(it) #"a"

next(it) #"stopiteration"

'a'

In [ ]:
#Iterating at once with *
word = 'Data'
it = iter(word)
print(*it) #D a t a

print(*it) #no more values to go through

D a t a

In [ ]:
#Iterating over dictionaries
pythonistas = {'hugo': 'bowne-anderson', 'francis': 'castro'}
for key, value in pythonistas.items():
  print(key, value)

hugo bowne-anderson
francis castro

In [ ]:
#Iterating over file connections
file = open('file.txt')
it = iter(file)
print(next(it)) #This is the first line.

print(next(it)) #This is the second line

In [ ]:
#FULL EXAMPLE 1:

# Create a list of strings: flash
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

# Print each list item in flash using a for loop
for person in flash:
    print(person)

# Create an iterator for flash: superhero
superhero = iter(flash)

# Print each item from the iterator
print(next(superhero))
print(next(superhero))
print(next(superhero))
print(next(superhero))

In [1]:
#FULL EXAMPLE 2:

# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values
for num in range(3):
    print(num)

# Create an iterator for range(10 ** 100): googol
googol = iter(range(10**100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
0
1
2
0
1
2
3
4

In [ ]:
#FULL EXAMPLE 3:

# Create a range object: values
values = range(10,21)

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

range(10, 21)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
165

### Playing with iterators

In [ ]:
#Using enumerate()
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
e = enumerate(avengers)
print(type(e)) #class enumerate object. provdes an index

e_list = list(e)
print(e_list) #list of tuples

<class 'enumerate'>
[(0, 'hawkeye'), (1, 'iron man'), (2, 'thor'), (3, 'quicksilver')]

In [ ]:
#enumerate() and unpack
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']

for index, value in enumerate(avengers): #unpack
  print(index, value)

for index, value in enumerate(avengers, start=10): #change the start, that has a default of 0
  print(index, value)

0 hawkeye
1 iron man
2 thor
3 quicksilver
10 hawkeye
11 iron man
12 thor
13 quicksilver

In [ ]:
#Using zip()
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']

z = zip(avengers, names)
print(type(z))

z_list = list(z)
print(z_list) #gives a list of tuple

<class 'zip'>
[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

In [ ]:
#zip() and unpack
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']

for z1, z2 in zip(avengers, names):
  print(z1, z2)

hawkeye barton
iron man stark
thor odinson
quicksilver maximoff

In [ ]:
#Print zip with *
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']

z = zip(avengers, names)
print(*z)

('hawkeye', 'barton') ('iron man', 'stark') ('thor', 'odinson') ('quicksilver', 'maximoff')

In [ ]:
#FULL EXAMPLE 1
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

# Unpack and print the tuple pairs
for index1, value1 in enumerate(mutants):
    print(index1, value1)

# Change the start index
for index2, value2 in enumerate(mutants, start = 1):
    print(index2, value2)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]
0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde
1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pryde

In [ ]:
#FULL EXAMPLE 2:

# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants,aliases,powers))

# Print the list of tuples
print(mutant_data)

# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants,aliases,powers)

# Print the zip object
print(mutant_zip)

# Unpack the zip object and print the tuple values
for value1,value2,value3 in mutant_zip:
    print(value1, value2, value3)

In [ ]:
#FULL EXAMPLE 3:
# Create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# Print the tuples in z1 by unpacking with *
print(*z1)

# Re-create a zip object from mutants and powers: z1
z1 = zip(mutants,powers)

# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)

# Check if unpacked tuples are equivalent to original tuples
print(result1 == mutants)
print(result2 == powers)

### Using iterators to load large files into memory

Loading data in chunks
- There can be too much data to hold in memory
- Solution: load data in chunks! (chunck = pedaço)
- Pandas function: read_csv()
  - Specify the chunk: chunk_size #load data in chunks

In [ ]:
#Iterating over data
import pandas as pd
result = []

for chunk in pd.read_csv('data.csv', chunksize=1000):
  result.append(sum(chunk['x']))

total = sum(result)
print(total)

In [ ]:
#Iterating over data
import pandas as pd
total = 0

for chunk in pd.read_csv('data.csv', chunksize=1000):
  total += sum(chunck["x"])
print(total)

In [ ]:
#FULL EXAMPLE 1:

# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv('tweets.csv', chunksize=10):

    # Iterate over the column in DataFrame
    for entry in chunk["lang"]:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

In [ ]:
#FULL EXAMPLE 2:

# Define count_entries()
def count_entries(csv_file, c_size,colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize = c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries("tweets.csv", 10, "lang")

# Print result_counts
print(result_counts)

### Congratulations!

What’s next?
- List comprehensions and generators
- List comprehensions:
  - Create lists from other lists, DataFrame columns, etc.
  - Single line of code
  - More effcient than using a for loop

## List comprehensions and generators

### List comprehensions

In [ ]:
#Populate a list with a for loop
nums = [12, 8, 21, 3, 16]
new_nums = []

for num in nums:
  new_nums.append(num + 1)

print(new_nums)

[13, 9, 22, 4, 17]

In [ ]:
#A list comprehension
nums = [12, 8, 21, 3, 16]
new_nums = [num + 1 for num in nums] #simillar to lambda function
print(new_nums)

[13, 9, 22, 4, 17]

In [ ]:
#For loop and list comprehension syntax
new_nums = [num + 1 for num in nums]

for num in nums:
  new_nums.append(num + 1)

print(new_nums)

[13, 9, 22, 4, 17, 13, 9, 22, 4, 17]

In [ ]:
#List comprehension with range()
result = [num for num in range(11)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List comprehensions
- Collapse for loops for building lists into a single line
- Components
  - Iterable
  - Iterator variable (represent members of iterable)
  - Output expression

In [ ]:
#Nested loops (1)
pairs_1 = []
for num1 in range(0, 2):
  for num2 in range(6, 8):
    pairs_1.append(num1, num2)
print(pairs_1)

In [ ]:
#Nested loops (2) - list comprehensions #sacrifices readibility
pairs_2 = [(num1, num2) for num1 in range(0, 2) for num2 in range(6, 8)]
print(pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [ ]:
#FULL EXAMPLE 1

# Create list comprehension: squares
squares = [i**2 for i in range(10)]
print (squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#FULL EXAMPLE 2

# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(5)] for row in range(5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

### Advanced comprehensions

In [ ]:
#Conditionals on the iterable
[num ** 2 for num in range(10) if num % 2 == 0]

[0, 4, 16, 36, 64]

In [ ]:
#Conditionals on the output expression
[num ** 2 if num % 2 == 0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

Dict comprehensions
- Create dictionaries
- Use curly braces {} instead of brackets []

In [ ]:
pos_neg = {num: -num for num in range(9)}
print(pos_neg)

print(type(pos_neg))

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}
<class 'dict'>

In [ ]:
#FULL EXAMPLE 1 - wrong

# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [len(member) >= 7 for member in fellowship]

# Print the new list
print(new_fellowship) #provides the TRUE and False

#FULL EXAMPLE 1 - correct

# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member for member in fellowship if len(member)>=7]

# Print the new list
print(new_fellowship)

[False, True, False, True, True, True, False]
['samwise', 'aragorn', 'legolas', 'boromir']

In [ ]:
#FULL EXAMPLE 2

# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member if len (member) >= 7 else "" for member in fellowship]

# Print the new list
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

In [ ]:
#FULL EXAMPLE 3

# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create dict comprehension: new_fellowship
new_fellowship = {member: len(member) for member in fellowship}

# Print the new dictionary
print(new_fellowship)

### Introduction to generator expressions

In [ ]:
#Generator expressions

#Recall list comprehension
[2 * num for num in range(10)]

#Use ( ) instead of [ ]
(2 * num for num in range(10)) #generator object

List comprehensions vs. generators
- List comprehension - returns a list
- Generators - returns a generator object
- Both can be iterated over

In [ ]:
#Printing values from generators (1)
result = (num for num in range(6))
for num in result:
  print(num)

result = (num for num in range(6))
print(list(result))

0
1
2
3
4
5
[0, 1, 2, 3, 4, 5]

In [ ]:
#Printing values from generators (2)
result = (num for num in range(6))

#Lazy evaluation
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

0
1
2
3
4

- Does not create the entire list, so it can be created as a large object
- Can do anything with generator expressions

In [ ]:
#Conditionals in generator expressions
even_nums = (num for num in range(10) if num % 2 == 0)
print(list(even_nums))

Generator functions
- Produces generator objects when called
- Defined like a regular function - def
- Yields a sequence of values instead of returning a single value
- Generates a value with yield keyword (instead of return

In [ ]:
def num_sequence(n):
  """Generate values from 0 to n."""
  i = 0
  while i < n:
    yield i
    i += 1

#Use a generator function
result = num_sequence(5)
print(type(result))

for item in result:
  print(item)

<class 'generator'>
0
1
2
3
4

In [ ]:
#FULL EXAMPLE 1

# Create generator object: result
result = (num for num in range (31))

# Print the first 5 values
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

# Print the rest of the values
for value in result:
    print(value)

In [ ]:
#FULL EXAMPLE 2

# Create a list of strings: lannister
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Create a generator object: lengths
lengths = (len(person) for person in lannister)

# Iterate over and print the values in lengths
for value in lengths:
    print(value)

6
5
5
6
7

In [ ]:
#FULL EXAMPLE 3

# Create a list of strings
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)

# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

### Wrapping up comprehensions and generators

Re-cap: list comprehensions
- Basic 
  - [output expression for iterator variable in iterable]
- Advanced
  - [output expression + conditional on output for iterator variable in iterable + conditional on iterable]

In [ ]:
#FULL EXAMPLE 1

# Extract the created_at column from df: tweet_time
tweet_time = df["created_at"]

# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time]

# Print the extracted times
print(tweet_clock_time)

In [ ]:
#FULL EXAMPLE 2

# Extract the created_at column from df: tweet_time
tweet_time = df["created_at"]

# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time if entry[17:19] == "19"]

# Print the extracted times
print(tweet_clock_time)

## Bringing it all together!

### Welcome to the case study!

World bank data
- Data on world economies for over half a century
- Indicators
  - Population
  - Electricity consumption
  - CO2 emissions
  - Literacy rates
  - Unemployment
  - Mortality rates

In [ ]:
#Using zip()
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']
z = zip(avengers, names)

print(type(z))

print(list(z))

<class 'zip'>
[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

In [ ]:
#Defining a function
#raise.py
def raise_both(value1, value2):
  """Raise value1 to the power of value2
  and vice versa."""
  new_value1 = value1 ** value2
  new_value2 = value2 ** value1
  new_tuple = (new_value1, new_value2)
  return new_tuple

In [ ]:
#FULL EXAMPLE 1

# Zip lists: zipped_lists
zipped_lists = zip (feature_names, row_vals)

# Create a dictionary: rs_dict
rs_dict = dict(zipped_lists)

# Print the dictionary
print(rs_dict)

In [ ]:
#FULL EXAMPLE 2

# Define lists2dict()
def lists2dict(list1, list2):
    """Return a dictionary where list1 provides
    the keys and list2 provides the values."""

    # Zip lists: zipped_lists
    zipped_lists = zip(list1, list2)

    # Create a dictionary: rs_dict
    rs_dict = dict(zipped_lists)

    # Return the dictionary
    return rs_dict

# Call lists2dict: rs_fxn
rs_fxn = lists2dict(feature_names, row_vals)

# Print rs_fxn
print(rs_fxn)

In [ ]:
#FULL EXAMPLE 3

# Print the first two lists in row_lists
print(row_lists[0])
print(row_lists[1])

# Turn list of lists into list of dicts: list_of_dicts
list_of_dicts = [lists2dict(feature_names, sublist) for sublist in row_lists]

# Print the first two dictionaries in list_of_dicts
print(list_of_dicts[0])
print(list_of_dicts[1])

In [ ]:
#FULL EXAMPLE 4

# Import the pandas package
import pandas as pd

# Turn list of lists into list of dicts: list_of_dicts
list_of_dicts = [lists2dict(feature_names, sublist) for sublist in row_lists]

# Turn list of dicts into a DataFrame: df
df = pd.DataFrame(list_of_dicts)

# Print the head of the DataFrame
print(df.head()) #transform into a normal dataframe

Re-cap: list comprehensions
- Basic
  - [output expression for iterator variable in iterable]
- Advanced
  - [output expression + conditional on output for iterator variable in iterable + conditional on iterable]

### Using Python generators for streaming data

Generators for the large data limit
- Use a generator to load a file line by line
- Works on streaming data!
- Read and process the file until all lines are exhausted

In [ ]:
#Build a generator function
#sequence.py
def num_sequence(n):
  """Generate values from 0 to n."""
  i = 0
  while i < n:
    yield i
    i ==1

In [ ]:
#FULL EXAMPLE 1

# Open a connection to the file
with open("world_dev_ind.csv") as file:

    # Skip the column names
    file.readline()

    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Process only the first 1000 rows
    for j in range(0,1000):

        # Split the current line into a list: line
        line = file.readline().split(',')

        # Get the value for the first column: first_col
        first_col = line[0]

        # If the column value is in the dict, increment its value
        if first_col in counts_dict.keys():
            counts_dict[first_col] += 1

        # Else, add to the dict and set value to 1
        else:
            counts_dict[first_col] = 1

# Print the resulting dictionary
print(counts_dict)

In [ ]:
#FULL EXAMPLE 2

# Define read_large_file()
def read_large_file(file_object):
    """A generator function to read a large file lazily."""

    # Loop indefinitely until the end of the file
    while True:

        # Read a line from the file: data
        data = file_object.readline()

        # Break if this is the end of the file
        if not data:
            break

        # Yield the line of data
        yield data
        
# Open a connection to the file
with open('world_dev_ind.csv') as file:

    # Create a generator object for the file: gen_file
    gen_file = read_large_file(file)

    # Print the first three lines of the file
    print(next(gen_file))
    print(next(gen_file))
    print(next(gen_file))

In [ ]:
#FULL EXAMPLE 3

# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Open a connection to the file
with open("world_dev_ind.csv") as file:

    # Iterate over the generator from read_large_file()
    for line in read_large_file(file):

        row = line.split(',')
        first_col = row[0]

        if first_col in counts_dict.keys():
            counts_dict[first_col] += 1
        else:
            counts_dict[first_col] = 1

# Print            
print(counts_dict)

### Using pandas' read_Csv iterator for straming data

Reading files in chunks
Up next:
- read_csv() function and chunk_size argument
- Look at specific indicators in specific countries
- Write a function to generalize tasks

In [ ]:
#FULL EXAMPLE 1

# Import the pandas package
import pandas as pd

# Initialize reader object: df_reader
df_reader = pd.read_csv("ind_pop.csv", chunksize = 10)

# Print two chunks
print(next(df_reader))
print(next(df_reader))

print(df_reader)

In [ ]:
#FULL EXAMPLE 2

# Initialize reader object: urb_pop_reader
urb_pop_reader = pd.read_csv('ind_pop_data.csv', chunksize=1000)

# Get the first DataFrame chunk: df_urb_pop
df_urb_pop = next(urb_pop_reader)

# Check out the head of the DataFrame
print(df_urb_pop.head())

# Check out specific country: df_pop_ceb
df_pop_ceb = df_urb_pop[df_urb_pop['CountryCode'] == 'CEB']

# Zip DataFrame columns of interest: pops
pops = zip(df_pop_ceb['Total Population'], 
           df_pop_ceb['Urban population (% of total)'])

# Turn zip object into list: pops_list
pops_list = list(pops)

# Print pops_list
print(pops_list)

In [ ]:
#FULL EXAMPLE 3

# Code from previous exercise
urb_pop_reader = pd.read_csv('ind_pop_data.csv', chunksize=1000)
df_urb_pop = next(urb_pop_reader)
df_pop_ceb = df_urb_pop[df_urb_pop['CountryCode'] == 'CEB']
pops = zip(df_pop_ceb['Total Population'], 
           df_pop_ceb['Urban population (% of total)'])
pops_list = list(pops)

# Use list comprehension to create new DataFrame column 'Total Urban Population'
df_pop_ceb['Total Urban Population'] = [int(tup[0] * tup[1] * 0.01) for tup in pops_list]

# Plot urban population data
df_pop_ceb.plot(kind='scatter', x='Year', y='Total Urban Population')
plt.show()

![image.png]()

In [ ]:
#FULL EXAMPLE 4

# Initialize reader object: urb_pop_reader
urb_pop_reader = pd.read_csv('ind_pop_data.csv', chunksize=1000)

# Initialize empty DataFrame: data
data = pd.DataFrame()

# Iterate over each DataFrame chunk
for df_urb_pop in urb_pop_reader:

    # Check out specific country: df_pop_ceb
    df_pop_ceb = df_urb_pop[df_urb_pop['CountryCode'] == 'CEB']

    # Zip DataFrame columns of interest: pops
    pops = zip(df_pop_ceb['Total Population'],
                df_pop_ceb['Urban population (% of total)'])

    # Turn zip object into list: pops_list
    pops_list = list(pops)

    # Use list comprehension to create new DataFrame column 'Total Urban Population'
    df_pop_ceb['Total Urban Population'] = [int(tup[0] * tup[1] * 0.01) for tup in pops_list]
    
    # Append DataFrame chunk to data: data
    data = data.append(df_pop_ceb)

# Plot urban population data
data.plot(kind='scatter', x='Year', y='Total Urban Population')
plt.show()

![image.png]()

In [ ]:
#FULL EXAMPLE 5

# Define plot_pop()
def plot_pop(filename, country_code):

    # Initialize reader object: urb_pop_reader
    urb_pop_reader = pd.read_csv(filename, chunksize=1000)

    # Initialize empty DataFrame: data
    data = pd.DataFrame()
    
    # Iterate over each DataFrame chunk
    for df_urb_pop in urb_pop_reader:
        # Check out specific country: df_pop_ceb
        df_pop_ceb = df_urb_pop[df_urb_pop['CountryCode'] == country_code]

        # Zip DataFrame columns of interest: pops
        pops = zip(df_pop_ceb['Total Population'],
                    df_pop_ceb['Urban population (% of total)'])

        # Turn zip object into list: pops_list
        pops_list = list(pops)

        # Use list comprehension to create new DataFrame column 'Total Urban Population'
        df_pop_ceb['Total Urban Population'] = [int(tup[0] * tup[1] * 0.01) for tup in pops_list]
    
        # Append DataFrame chunk to data: data
        data = data.append(df_pop_ceb)

    # Plot urban population data
    data.plot(kind='scatter', x='Year', y='Total Urban Population')
    plt.show()

# Set the filename: fn
fn = 'ind_pop_data.csv'

# Call plot_pop for country code 'CEB'
plot_pop("ind_pop_data.csv", "CEB")

# Call plot_pop for country code 'ARB'
plot_pop("ind_pop_data.csv", "ARB")

![image.png]()

### Final thoughts

You’ve applied your skills in:
- User-defined functions
- Iterators
- List comprehensions
- Generators